<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}My Webpage{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %} hello{% endblock %}
    <h3>List of Users</h3>
    <ol>
    {% for user in users -%}
        <li>{{ user.first_name|e }} {{ user.get("last_name", "") }}</li>

    {% endfor %}
    </ol>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://gym.local/">you</a>.
        {% endblock %}
    </div>
</body>
</html>